hr {
  margin-bottom: 10em;
}

.Main {
  font-size: 3em;
  weight: bold;
  
}

.Text {
  font-size: 1.4em;
}

button {
  border: 1px solid;
  background-color: #000;
  padding: 12px 24px;
  font-size: 16px;
  cursor: pointer;
  border-color: #4CAF50;
  border-radius: 12px;
  color: white;
}